.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header' 'main main right menu' 'footer footer footer footer';
    background-color: blueviolet;
    padding: 10px;
    gap: 10px;
}

.grid-container>div {
    background-color: rgba(77, 155, 167, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: 500px;
    color: azure;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

article {
    background-color: slateblue;
    margin: 10px;
    width: 90%;
    height: 70px;
    justify-content: center;
}